<h1>FeedBack</h1>
<br>
<div class="col">
	<div col-12 *ngFor="let f of feedData">
         <div>
         <span class="font-weight-bold">	Name : </span>{{f.name}}
         </div>
         <div>
         	<span class="font-weight-bold">Email : </span>{{f.email}}
         </div>
         <div>
         <span class="font-weight-bold">	Subject : </span>{{f.subject}}
         </div>
         <div>
 		<span class="font-weight-bold">	Feedback : </span>{{f.feed}}        	
         </div>
         <hr>
	</div>
</div>

