<h1>Change Password</h1>
<br/>

<div class="col-8">
<form [formGroup]="myForm" (ngSubmit)="matchpassword()">
	<div class="form-group">
		<label>Old Password</label>
		<input type="password" formControlName="oldpass" class="form-control">
		<div *ngIf="myForm.controls.oldpass.touched && myForm.controls.oldpass.invalid" class="alert alert-danger">
			<div *ngIf="myForm.controls.oldpass.errors.required" >
				*Required
			</div>
		</div>
	</div>

	<div class="form-group">
		<label>New Password</label>
		<input type="password" name="" formControlName="newpass" class="form-control" (click)="clearErr()">
		<div *ngIf="myForm.controls.newpass.touched && myForm.controls.newpass.invalid" class="alert alert-danger">
			<div *ngIf="myForm.controls.newpass.errors.required" >
				*Required
			</div>
		</div>
	</div>

		<div class="form-group">
		<label> Confirm New Password</label>
		<input type="password" name="" formControlName="confirmnewpass" (click)="clearErr()"class="form-control">
		<!-- <div *ngIf="myForm.controls.confirmnewpass.dirty"> -->
		<div *ngIf="checkpass"  class="alert alert-danger " >
				new password and confirm password didn't match
	
			<!-- </div> -->
		</div>
		<div *ngIf="myForm.controls.confirmnewpass.touched && myForm.controls.confirmnewpass.invalid" class="alert alert-danger">
			<div *ngIf="myForm.controls.confirmnewpass.errors.required" >
				*Required
			</div>
			
		</div>
	</div>

<div class="text-right">
	<button class="btn btn-success" [disabled]="myForm.invalid">Change Password</button>
</div>
</form>
</div>