.p-top-120{
	padding-top:10px;
}
.mySideStatic{
	position: fixed;
	left:15px;
	top: 100px;

	
    /*margin-right: auto;
    margin-left: auto;*/
}

.myNavStatic{
	position: fixed;
	left:15px;
	top: 0px;

	
    /*margin-right: auto;
    margin-left: auto;*/
}
.posRel{
	position: relative;
	top:100px;
}

.myfixed-top {
  position: fixed;
  top: 40;
  margin-right:1100px; 
  right: 0;
  left: 0;
  z-index: 100;
}