<h1 class="text-center">
	Welcome to Admin Panel
</h1>
<p>
	  
   		Here you can make changes to admin panel
		Here you can make changes to admin panel
		Here you can make changes to admin panel
		Here you can make changes to admin panel
		Here you can make changes to admin panel
		Here you can make changes to admin panel
		Here you can make changes to admin panel
		Here you can make changes to admin panel
		Here you can make changes to admin panel
		Here you can make changes to admin panel
		Here you can make changes to admin panel
		Here you can make changes to admin panel
		Here you can make changes to admin panel 


</p>
