<h1 class="text-center">
	Welcome to Admin Panel
</h1>
<p class="text-center">

	Here you can make changes to admin panel

</p>
<hr>
<br/>
<div class="container">
	<div class="row">
		<span class="card ml-3" >
			<div class="card-header">
				Total Order Received
			</div>
			<div class="card-body  ">
				<h5 class="card-title"></h5>
				<p class="card-text"></p>
			</div>

		</span>
		
		<div class="card ml-3">
			<div class="card-header ">
				Total Earning
			</div>
			<div class="card-body">
				<h5 class="card-title"></h5>
				<p class="card-text"></p>
			</div>

		</div>
		<div class="card ml-3">
			<div class="card-header">
				Today's Order
			</div>
			<div class="card-body">
				<h5 class="card-title"></h5>
				<p class="card-text"></p>
			</div>

		</div>
	</div>
</div>